 
<div class="row">
    <div class="col-md-12 text-center">
      <h3 *ngIf="isUserAuthenticated">Hello {{userName}}</h3>
      <h3 *ngIf="!isUserAuthenticated">Not authenticated</h3>
    </div>
  </div>
  
  <div class="row margin-top-md" *ngIf="isUserAuthenticated">
    <div class="col-md-12 text-center">
      <button class="btn btn-dark btn-lg" (click)="logout()">Logout</button>
    </div>
  </div>
  <div class="row margin-top-md" *ngIf="!isUserAuthenticated">
    <div id="login">
      <button mat-raised-button color="primary"(click)="login()" >Create Assignment</button>    </div>
  </div>
  <div class="row margin-top-md">
    <div class="col-md-12 text-center">
      <button class="btn btn-light btn-lg" (click)="logout()">Logout</button>
    </div>
  </div>